.photos__body {
	position: relative;
	padding-top: 20px;
	font-family: "Ubuntu";
  font-size: 18px;
  background-image: url("../img/810.jpg");
  background-size: 1500px 1500px;
  background-repeat: repeat;
  background-position: center;
}
.documentDate,
.documentName,
.photos__user {
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
	box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.documents__exit_button,
.documentDate,
.documentName,
.photos__user {
	padding: 5px;
	border-radius: 15px;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
	line-height: 1.1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.photos__user,
.photos__user_login,
.documentName,
.documentDate,
.photos__docname_form-explanation.delete_form,
.common__alert-text {
	cursor:default;
}
.photos__photos_controls-btn,
.documents__exit_button,
.document__preview_close,
.document__preview_btn,
.photos__docname_form-buttons button,
.common__alert-ok_btn {
	outline:none;
}
.photos__user_login {
	font-style: italic;
	font-weight: bold;
}
.pdfpageEmbed.tablet,
.pdfpageEmbed.desktop {
	display: none;
}
.photos__photos_controls {
	position: absolute;
	top: 150px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 320px;
}
.photos__photos_controls-btn {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
}
.photos__photos_controls-btn {
	position: relative;
	border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
.photos__photos_controls i {
	position: absolute;
	top:0;
	left:0;
}
.documents__exit_button:hover,
.photos__photos_controls-btn:hover:enabled {
	color: #fff;
}
.documents__exit_button:active,
.photos__photos_controls-btn:active:enabled {
	color: #000;
  background-color: #fff;
}
.material-icons.md-48 {
	font-size: 48px;
}
.documentContent {
	display: block;
	/*height: 280px;*/
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
	margin: 0 auto;
	margin-bottom: 15px;
}
.documentName:hover {
	background-color: rgb(158, 158, 158);
	color: #fff;
}
.documentName:active {
	background-color: rgb(244, 244, 244);
	color: #000;
}
.documents__exit_button {
	position: absolute;
	left:50%;
	margin-left: -100px;
	border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
/*FORM MODAL*/
.photos__form_modal {
	position: absolute;
	top: -100px;
  left: 0;
  right: 0;
  bottom: -350px;
	background-color: rgb(158, 158, 158);
	opacity: 0.5;
}
/*END FORM MODAL*/
/*DOCUMENT PREVIEW FORM*/
.documentPreview{
	position: absolute;
	width: 255px;
	top: 85px;
	left: 50%;
	margin-left: -130px;
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
	/*border-radius: 25px;*/
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
/*.document__preview-container {
	display:flex;
	flex-direction:row;
	justify-content:center;
}*/
.document__preview_current_doc {
	width: 255px;
	height: 300px;
	margin-bottom: 15px;
}
.document__preview_btn {
 /*position: relative;*/
 border: none;
 background-color: rgb(158,158,158);
 font-family: "Ubuntu";
 font-size: 18px;
 border: 1px solid rgb(158, 158, 158);
 padding: 5px;
 border-radius: 15px;
 width: 100px;
 margin: 0 auto;
 /*margin-bottom: 10px;*/
}
.document__preview_btn:hover {
	color: #fff;
}
.document__preview_btn:active {
	color: #000;
  background-color: #fff;
}
.photos__docname_form-buttons {
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}
.photo__preview_close::after{/*BUTTON TO EDIT IMAGE INFO*/
  position:absolute;
  top:0;
  right:-35px;
  display: block;
  width: 30px;
  height: 30px;
  padding-left:2px; 
  padding-top:1px; 
  border: 1px solid rgb(158, 158, 158);
  border-radius: 15px;
  background-color: rgb(158, 158, 158);
  font-family: "Material Icons";
  font-size: 25px;
  content: "close";
  box-sizing: border-box;
}
.photo__preview_close:hover:after {
  color: #fff;
}
.photo__preview_close:active:after {
  color: #000;
  background-color: #fff;
}
/*END DOCUMENT PREVIEW FORM*/
/*DOCUMENT DELETE FORM*/
.photos__docname_form {
	position: absolute;
	width: 250px;
	top: 100px;
	left: 50%;
	margin-left: -125px;
	padding-top: 20px;
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
	border-radius: 25px;
	box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.photos__docname_form-buttons {
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.photos__docname_form-explanation,
.photos__docname_form input {
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 5px;
	background-color: #fff;
	border-radius: 10px;
	font-family: "Ubuntu";
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}
.photos__docname_form input{
	margin-bottom: 25px;
	color: rgb(158,158,158);
	border: 1px solid rgb(158,158,158);
}
.photos__docname_form input:active,
.photos__docname_form input:hover {
		border: 1px solid #000;
}
.photos__docname_form button {
 /*position: relative;*/
 border: none;
 background-color: rgb(158,158,158);
 font-family: "Ubuntu";
 font-size: 18px;
 border: 1px solid rgb(158, 158, 158);
 padding: 5px;
 border-radius: 15px;
 width: 100px;
 margin: 0 auto;
 /*margin-bottom: 10px;*/
}
.photos__docname_form button:hover {
	color: #fff;
}
.photos__docname_form button:active {
	color: #000;
	background-color: #fff;
}
/*END DOCUMENT DELETE FORM*/
/*WAIT ANIMATION UNIWERSAL*/
.wait_animation_uniwersal {
  position: absolute;
  width: 60px;
  height: 60px;
	padding-left: 6px;
  top:200px;
  left: 50%;
  border-radius: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
  margin-left: -30px;
  background-color: rgb(158, 158, 158);
  animation: timing 1s infinite steps(60);
	box-sizing: border-box;
}
@keyframes timing {
  100%{
   transform: rotate(-360deg);
 }
}
/*END WAIT ANIMATION UNIWERSAL*/
/*COMMON ALERT UNIVERSAL*/
.common__alert {
  position: absolute;
  top: 135px;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  padding-top:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.common__alert-text {
	width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  line-height: 1.3;
	text-align: center;
}
.common__alert-ok_btn {
	display:block;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
.common__alert-ok_btn:hover {
  color: #fff;
}
.common__alert-ok_btn:active {
  color: #000;
  background-color: #fff;
}
/*END COMMON ALERT UNIVERSAL*/
@media (min-width: 700px) {
	.photos__body,
	.documents__exit_button {
		font-size: 22px;
	}
	.documents__exit_button,
	.documentDate,
	.documentName,
	.photos__user {
		margin-bottom: 20px;
	}
	.photos__photos {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.pdfpageEmbed.tablet {
		display: block;
	}
	.documents__exit_button {
		top:20px;
		left:auto;
		right: 4%;
		margin-left: 0;
	}
	.photos__photos_controls{
		top:170px;
		width: auto;
		max-width: 750px;
	}
	.documentContent {
		margin-bottom: 20px;
	}
	/*DOCUMENT PREVIEW FORM*/
	.documentPreview {
		top:70px;
		width: 350px;
		left: 50%;
		margin-left: -180px;
	}
	.document__preview_current_doc {
		width: 350px;
		height: 350px;
		margin-bottom: 20px;
	}
	.photos__docname_form-buttons {
		margin-bottom: 18px;
	}
	.document__preview_btn {
		width: 140px;
		font-size: 22px;
	}
	/*END DOCUMENT PREVIEW FORM*/
	/*DOCUMENT DELETE FORM*/
	.photos__docname_form {
		width: 300px;
		left: 50%;
		margin-left: -150px;
	}
	.photos__docname_form-explanation,
	.photos__docname_form input {
		font-size: 22px;
		width: 250px;
		margin-bottom: 18px;
	}
	.photos__docname_form button {
		width: 120px;
		font-size: 22px;
	}
	.photos__docname_form-buttons {
		margin-bottom: 18px;
	}
	.photos__docname_form input{
		margin-bottom: 30px;
	}
	/*END DOCUMENT DELETE FORM*/
	/*COMMON ALERT UNIVERSAL*/
	.common__alert {
		width: 325px;
		margin-left: -162.5px;
		padding-top:30px;
		margin-bottom: 30px;
	}
	.common__alert-text {
		width: 245px;
    margin-bottom: 35px;
	}
	.common__alert-ok_btn {
		width: 120px;
		height: 35px;
		margin-bottom: 20px;
		font-size: 22px;
	}
	/*END COMMON ALERT UNIVERSAL*/
}
@media (min-width: 1200px) {
	.photos__body,
	.documents__exit_button {
		margin-top: 10px;
		font-size: 24px;
	}
	.pdfpageEmbed.desktop {
		display: block;
	}
	.documents__exit_button,
	.documentDate,
	.documentName,
	.photos__user {
		margin-bottom: 30px;
	}
	.documents__exit_button {
		top:8px;
	}
	.photos__photos_controls{
		top:180px;
		max-width: 1180px;
	}
	.documentContent {
		margin-bottom: 30px;
	}
	/*DOCUMENT PREVIEW FORM*/
	.documentPreview {
		top:70px;
		width: 350px;
		left: 50%;
		margin-left: -180px;
	}
	.document__preview_current_doc {
		width: 350px;
		height: 350px;
	}
	.photos__docname_form-buttons {
		margin-bottom: 22px;
	}
	.document__preview_btn {
		font-size: 24px;
	}
	/*END DOCUMENT PREVIEW FORM*/
	/*DOCUMENT DELETE FORM*/
	.photos__docname_form {
		width: 325px;
		left: 50%;
		margin-left: -162.5px;
	}
	.photos__docname_form-explanation,
	.photos__docname_form input {
		font-size: 24px;
		width: 275px;
		margin-bottom: 22px;
	}
	.photos__docname_form button {
		width: 135px;
		font-size: 24px;
	}
	.photos__docname_form-buttons {
		margin-bottom: 22px;
	}
	.photos__docname_form input{
		margin-bottom: 36px;
	}
	/*END DOCUMENT DELETE FORM*/
	/*COMMON ALERT UNIVERSAL*/
	.common__alert {
		width: 350px;
		margin-left: -175px;
		padding-top:30px;
		margin-bottom: 30px;
	}
	.common__alert-text {
		width: 270px;
		margin-bottom: 45px;
	}
	.common__alert-ok_btn {
		width: 145px;
		height: 45px;
		margin-bottom: 20px;
		font-size: 24px;
	}
	/*END COMMON ALERT UNIVERSAL*/
}
