.photos__body {
	position: relative;
	padding-top: 20px;
	font-family: "Ubuntu";
  font-size: 18px;
  background-image: url("../img/810.jpg");
  background-size: 1500px 1500px;
  background-repeat: repeat;
  background-position: center;
}
.photos__user_login {
	font-style: italic;
	font-weight: bold;
}
.photos__photos_photo_wrap {
	position: relative;
	width: 200px;
	height: 300px;
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
  	box-shadow: 0 0 4px 2px rgb(158, 158, 158);
	margin: 0 auto;
	margin-bottom: 15px;
	overflow: hidden;
}
.photos__photos_photo_wrap:hover {
	border: 2px solid #000;;
  	box-shadow: 0 0 4px 2px #000;
}

.photos__photos_photo_wrap:active {
	border: 2px solid #fff;
  	box-shadow: 0 0 4px 2px #fff;
}
 
.photoImage {
	position: absolute;
	bottom: 0;
	display:block;
	width:auto;
	max-height:300px;
}
.photos__photos {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.photos__photos_photo_item {
	display: flex;
	flex-direction: column;
}
.photos__photos_controls{
	position: absolute;
	top: 120px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 320px;
	/*background-color: yellow;*/
}
.photos__photos_controls-btn {/*______________+__________________*/ 
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
}
.photos__photos_photo_item.tablet,
.photos__photos_photo_item.desktop {
	display: none;
}
.photos__controls {
	display: flex;
	flex-direction: column;
}
.photos__user,
.photoName,
.photoDate,
.photoDesc {
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.photos__user,
.photoName,
.photoDate,
.photoDesc,
.photos__controls-btn{ /*________________________________*/
		padding: 5px;
	  	border-radius: 15px;
		width: 200px;
		margin: 0 auto;
		margin-bottom: 10px;
		line-height: 1.1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}
.photos__user,
.photos__user_login,
.photoName,
.photoDate,
.photoDesc,
.photos__docname_form-explanation.delete_form,
.photos__description_form-text,
.common__alert-text,
.photos__docname_form-explanation {
	cursor:default;
}
.photoCheckBox,
.photos__photos_controls-btn,
.photos__controls-btn,
.photos__controls-btn.photos__controls_exit-button,
.photos__docname_form input,
.photos__docname_form-buttons button,
.photos__docname_form-buttons button,
.photo__preview_close,
.photos__description_form-text,
.photo__preview_close.descriptio_text,
.common__alert-ok_btn {
	outline:none;
}
.photoDesc:hover {
	background-color: rgb(158, 158, 158);
	color: #fff;
}
.photoDesc:active {
	background-color:rgb(244, 244, 244);
	color: #000;
}
.photos__controls button,
.photos__photos_controls-btn { /*________________________________*/
	position: relative;
	border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
.photos__photos_controls i {
	position: absolute;
	top:0;
	left:0;
}
.photos__controls-btn:hover:enabled,
.photos__photos_controls-btn:hover:enabled { /*________________________________*/
	color: #fff;
}
.photos__controls-btn:active:enabled,
.photos__photos_controls-btn:active:enabled { /*________________________________*/
	color: #000;
  background-color: #fff;
}
/*CHECKBOX STYLE*/
.photos__photos_photo_item {
	position: relative;
}
.photoCheckBox {
	position: absolute;
	top: 285px;
	right: 5px;
	opacity:0;
}
.photos__photos_photo_item label{
	position: absolute;
	top: 275px;
	right: 7px;
	background-color: transparent;
}
/*.photos__photos_photo_item input[type = "checkbox"]{
  display: none;
}*/
.photos__photos_photo_item input[type = "checkbox"] + label{
  display: inline-block;
  /*margin-right: 0px;*/
  font-size: 10px;
  line-height: 25px;
  cursor: pointer;
}
.photos__photos_photo_item input[type = "checkbox"] + label:before{
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  /*margin-right: 20px;*/
  font-family: "Material Icons";
  content: "check_box_outline_blank";
  font-size: 22px;
  transition: color 0.3s;
}
.photos__photos_photo_item input[type = "checkbox"]:checked + label:before{
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  /*margin-right: 20px;*/
  font-family: "Material Icons";
  content: "check_box";
  font-size: 22px;
}
.photos__photos_photo_item input[type = "checkbox"] + label:hover:before{
  color: rgb(158, 158, 158);
}
/*END CHECKBOX STYLE*/
.material-icons.md-48 {
	font-size: 48px;
}
/*DOCNAME FORM*/
.photos__form_modal {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: -100px;
  background-color: rgb(158, 158, 158);
  opacity: 0.5;
}
.photos__docname_form {
	position: absolute;
	width: 250px;
	top: 100px;
	left: 50%;
	margin-left: -125px;
	padding-top: 20px;
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
	border-radius: 25px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.photos__docname_form-buttons {
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.photos__docname_form-explanation,
.photos__docname_form input {
	display: block;
	width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  font-family: "Ubuntu";
  font-size: 18px;
}
.photos__docname_form input{
	margin-bottom: 25px;
	color: rgb(158,158,158);
	border: 1px solid rgb(158,158,158);
}
.photos__docname_form input:active,
.photos__docname_form input:hover {
		border: 1px solid #000;
}
.photos__docname_form button { /*________________________________*/
 /*position: relative;*/
 border: none;
 background-color: rgb(158,158,158);
 font-family: "Ubuntu";
 font-size: 18px;
 border: 1px solid rgb(158, 158, 158);
 padding: 5px;
 border-radius: 15px;
 width: 100px;
 margin: 0 auto;
 /*margin-bottom: 10px;*/
}
.photos__docname_form button:hover { /*________________________________*/
	color: #fff;
}
.photos__docname_form button:active { /*________________________________*/
	color: #000;
  background-color: #fff;
}
/*END DOCNAME FORM*/
/*DELETE DOC FORM*/
.delete_form {
	text-align: center;
	line-height: 1.4;
}
/*END DELETE DOC FORM*/
/*PHOTO PREVIEW*/
.photo__preview {
	position: absolute;
	top: 10%;
	display:flex;
	width:100%;
	flex-direction: row;
	justify-content: center;	
}
.photo__preview-wrap {
	display: block;	
	width:auto;
	max-width: 70%;
	height: auto;
	padding: 0;
}
.photo__preview_image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
    box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
/*.photo__preview_close {
	width:1px;
}*/
.photo__preview_close::before{/*BUTTON TO EDIT IMAGE INFO*/
  display: inline;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 15px;
  background-color: rgb(158, 158, 158);
  font-family: "Material Icons";
  font-size: 25px;
  content: "close";
}
.photo__preview_close:hover:before {
  color: #fff;
}
.photo__preview_close:active:before {
  color: #000;
  background-color: #fff;
}
/*END PHOTO PREVIEW*/
/*PHOTO DESCRIPTION*/
.photos__description_form-text {
	width: 60%;
	height: 280px;
	rgb(244, 244, 244);
	border: 2px solid rgb(158, 158, 158);
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
	font-family: "Ubuntu";
  font-size: 18px;
}
/*END PHOTO DESCRIPTION*/
/*WAIT ANIMATION UNIWERSAL*/
.wait_animation_uniwersal {
  position: absolute;
  width: 60px;
  height: 60px;
  padding-left: 6px;
  top:200px;
  left: 50%;
  border-radius: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
  margin-left: -30px;
  background-color: rgb(158, 158, 158);
  animation: timing 1s infinite steps(60);
	box-sizing: border-box;
}
@keyframes timing {
  100%{
   transform: rotate(-360deg);
 }
}
/*END WAIT ANIMATION UNIWERSAL*/
/*COMMON ALERT UNIVERSAL*/
.common__alert {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  padding-top:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(158, 158, 158);
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 2px rgb(158, 158, 158);
}
.common__alert-text {
	width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  line-height: 1.3;
	text-align: center;
}
.common__alert-ok_btn {
  display:block;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(158,158,158);
  font-family: "Ubuntu";
  font-size: 18px;
  border: 1px solid rgb(158, 158, 158);
}
.common__alert-ok_btn:hover {
  color: #fff;
}
.common__alert-ok_btn:active {
  color: #000;
  background-color: #fff;
}
/*END COMMON ALERT UNIVERSAL*/

@media (min-width: 700px) {
	.photos__body {
		font-size: 22px;
	}
	.photos__photos_photo_item.tablet {
		display: flex;
		flex-direction: column;
	}
	.photos__controls {
		width: auto;
		max-width: 680px;
		margin: 0 auto;
		flex-direction: row;
		flex-flow: wrap;
	}
	.photos__controls-btn { /*________________________________*/
		width: 45%;
	}
	.photos__controls-btn.photos__controls_exit-button {
		margin-left: 25%;
	}
	.photos__photos_controls{
		width: auto;
		max-width: 750px;
	}
	.photos__photos {
		justify-content: center;
	}
	/*margins*/
	.photos__photos_photo_wrap {
		margin-bottom: 20px;
	}
	.photos__user,
	.photoName,
	.photoDate,
	.photoDesc,
	.photos__controls-btn { /*________________________________*/
		margin-bottom: 20px;
	}
	.photos__controls-btn { /*________________________________*/
		font-size: 22px;
	}
	/*DOCNAME FRORM*/
	.photos__docname_form {
		width: 300px;
		left: 50%;
		margin-left: -150px;
	}
	.photos__docname_form-explanation,
	.photos__docname_form input {
		font-size: 22px;
		width: 250px;
		margin-bottom: 18px;
	}
	.photos__docname_form button { /*________________________________*/
		width: 120px;
		font-size: 22px;
	}
	.photos__docname_form-buttons {
		margin-bottom: 18px;
	}
	.photos__docname_form input{
		margin-bottom: 30px;
	}
	/*END DOCNAME FRORM*/
	/*PHOTO PREVIEW*/
	.photo__preview-wrap {
		max-width: 70%;
	}
	/*END PHOTO PREVIEW*/
	/*PHOTO DESCRIPTION*/
	.photos__description_form-text {
		width: 70%;
		height: 310px;
		font-size: 22px;
	}
	/*END PHOTO DESCRIPTION*/
	/*COMMON ALERT UNIVERSAL*/
	.common__alert {
		width: 325px;
		margin-left: -162.5px;
		padding-top:30px;
		margin-bottom: 30px;
	}
	.common__alert-text {
		width: 245px;
    margin-bottom: 35px;
	}
	.common__alert-ok_btn {
		width: 120px;
		height: 35px;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 22px;
	}
	/*END COMMON ALERT UNIVERSAL*/
}
@media (min-width: 1200px) {
	.photos__body {
		margin-top: 10px;
		font-size: 24px;
	}
	.photos__photos_photo_item.tablet,
	.photos__photos_photo_item.desktop {
		display: flex;
		flex-direction: column;
	}
	.photos__photos_controls{
		max-width: 1180px;
	}
	.photos__controls {
		flex-direction: row;
		flex-flow: nowrap;
		justify-content: space-between;
		max-width: 1080px;
	}
	.photos__controls-btn { /*________________________________*/
		width: 200px;
	}
	.photos__controls-btn.photos__controls_exit-button {
		margin-left: 0px;
	}
	/*margins*/
	.photos__photos_photo_wrap {
		margin-bottom: 30px;
	}
	.photos__user,
	.photoName,
	.photoDate,
	.photoDesc,
	.photos__controls-btn{ /*________________________________*/
		margin-bottom: 30px;
	}
	.photos__controls-btn { /*________________________________*/
		font-size: 24px;
	}
	/*DOCNAME FRORM*/
	.photos__docname_form {
		width: 325px;
		left: 50%;
		margin-left: -162.5px;
	}
	.photos__docname_form-explanation,
	.photos__docname_form input {
		font-size: 24px;
		width: 275px;
		margin-bottom: 22px;
	}
	.photos__docname_form button { /*________________________________*/
		width: 135px;
		font-size: 24px;
	}
	.photos__docname_form-buttons {
		margin-bottom: 22px;
	}
	.photos__docname_form input{
		margin-bottom: 36px;
	}
	/*END DOCNAME FRORM*/
	/*PHOTO PREVIEW*/
	.photo__preview-wrap {
		max-width: 55%;
	}
	/*END PHOTO PREVIEW*/
	/*PHOTO DESCRIPTION*/
	.photos__description_form-text {
		width: 55%;
		height: 335px;
		font-size: 24px;
	}
	/*END PHOTO DESCRIPTION*/
	/*COMMON ALERT UNIVERSAL*/
	.common__alert {
		width: 350px;
		margin-left: -175px;
		padding-top:30px;
		margin-bottom: 30px;
	}
	.common__alert-text {
		width: 270px;
		margin-bottom: 45px;
	}
	.common__alert-ok_btn {
		width: 145px;
		height: 45px;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 24px;
	}
	/*END COMMON ALERT UNIVERSAL*/
}
